body {
    background-color: #181818;
    color: white;
    animation: fadeIn 2s;
}

nav {
    background-color: #181818; 
    color: white;
    transition: all 0.25s ease-out;
}

.navbar {
    background-color:rgb(19, 19, 19); 
    height: 10vh; 
    font-size: 1.3em; 
    font-weight: 100;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.transparent-card {
    margin:auto;
    margin-top: 50px; 
    width:40em;
    height: 35em;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    animation: rotate 4s;
}

.transparent-project-card {
    margin:auto;
    margin-top: 50px; 
    font-size: 1.2rem;
    width:60em;
    height: 50em;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}


.transparent-card-noexpand {
    margin:auto; 
    margin-top: 50px; 
    width:40em;
    height: 35em;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.transparent-card:hover {
    width: 55rem; 
    margin-top: 50px; 
    height:40em;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-classpages {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
    padding: 3px;  
    visibility: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
}

.overflow-ellipsis {
    white-space: initial;
    margin-top: 22px;
    padding: 50px;
    display: block;
}

.transparent-card:hover  .overflow-ellipsis {
    white-space: initial;
    transition: all 0.3s;
}

.transparent-card-picture {
    width: 600px;
    height: 300px;
}

.card-picture {
    width: 600px;
    height:400px;
}

.card-picture-small {
    width: 500px;
    height:200px;
}

.transparent-card:hover  .transparent-card-picture {
    width: 600px;
    height: 300px;
    transition: all 0.3s;
}

.contact-link {
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
}

.index-header {
    text-decoration: underline;
}

.index-columns {
    display:grid;
    align-items: center;
    gap: 0rem;
    grid-template-columns: 2fr 2fr;
    padding-top: 0;
}

.column-text {
    font-size: 1.2rem;
    text-align: left;
    display:grid;
    align-items: center;
    margin:0 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        left:-800px; top:0px;
        position: relative;
        transform: rotate(-5deg);
    }
    25% {
        left:-50px; top:0px;
        transform: rotate(2deg);
    }
    50% {
        left:0px; top:0px;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        left:0px; top:0px;
        position: static;
        transform: rotate(0deg);
    }
}